.votes-votes {
  width: var(--size-size-xxlarge);
  min-width: var(--size-size-xxlarge);
  display: flex;
  position: relative;
  align-self: flex-end;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.likes-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.votes-rate-text {
  font-size: var(--font-size-medium);
  font-style: normal;
  font-weight: var(--font-weight-xsmall);
}

.likes-color {
  color: var(--color-primary-500);
}
.like-icon {
  width: 24px;
  height: 24px;
  align-self: flex-start;
  transition: 0.3s;
  margin-left: var(--space-space-halfunit);
  margin-right: var(--space-space-halfunit);
}
.like-icon:hover {
  fill: var(--color-primary-500);
}
.like-icon:active {
  transform: rotate(30deg);
}
.dislikes-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.dislike-icon {
  width: 24px;
  height: 24px;
  align-self: flex-end;
  transition: 0.3s;
  margin-left: var(--space-space-halfunit);
  margin-right: var(--space-space-halfunit);
}
.dislike-icon:hover {
  fill: var(--color-primary-100);
}
.dislike-icon:active {
  transform: rotate(-30deg);
}
.dislikes-color {
  color: var(--color-primary-100);
}
.votes-root-class-name {
  align-self: center;
}
@media(max-width: 767px) {
  .votes-rate-text {
    font-size: var(--font-size-small);
    font-style: normal;
  }
  
  .like-icon {
    margin-left: var(--space-space-halfunit);
    margin-right: var(--space-space-halfunit);
  }
  .dislike-icon {
    margin-left: var(--space-space-halfunit);
    margin-right: var(--space-space-halfunit);
  }
}

@media(max-width: 479px) {
  .votes-votes {
    align-self: center;
  }
}