.card-blog-post-card {
  width: 100%;
  display: flex;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: stretch;
  flex-direction: row;
  background-color: var(--color-gray-white);
}

.card-image {
  width: 350px;
  height: 350px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}

.card-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--space-space-twounits);
  padding-left: var(--space-space-twounits);
  padding-right: var(--space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--space-space-twounits);
  justify-content: space-between;
}

.card-name {
  margin-bottom: var(--space-space-twounits);
}

.card-text {
  color: var(--color-gray-500);
  font-size: var(--font-size-medium);
  margin-bottom: var(--space-space-twounits);
  word-wrap: break-word;
}

.card-container-platform {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.card-profile {
  display: flex;
  align-items: center;
}

.card-image-platform {
  width: var(--size-size-small);
  height: var(--size-size-small);
  object-fit: cover;
  border-radius: var(--radius-radius-round);
}

.card-text-platform {
  font-style: normal;
  font-weight: var(--font-weight-medium);
  margin-left: var(--space-space-halfunit);
}

@media(max-width: 991px) {
  .card-blog-post-card {
    width: auto;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media(max-width: 767px) {
  .card-blog-post-card {
    flex-direction: column;
  }

  .card-image {
    width: 100%;
  }
}

@media(max-width: 479px) {
  .card-container-platform {
    padding-left: 0px;
    padding-right: 0px;
  }
}