.button-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.button-button {
  color: var(--color-gray-white);
  font-size: var(--font-size-medium);
  transition: 0.3s;
  border-width: 0px;
  border-radius: var(--radius-radius-radius8);
  background-color: var(--color-primary-500);
}

.button-button:hover {
  /* color: #dac6da; */
  background-color: #376ff3ca;
}

.button-button:active {
  background-color: #2965f3;
}

.button-root-class-name {
  align-self: flex-end;
}