.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--color-gray-black);
}
.home-blog {
  gap: var(--space-space-twounits);
  width: 100%;
  display: flex;
  padding: var(--space-space-oneandhalfunits);
  max-width: var(--size-width-max);
  align-self: center;
  flex-direction: column;
}

@media(max-width: 767px) {
  .home-blog {
    padding-left: var(--space-space-twounits);
    padding-right: var(--space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-blog {
    padding-top: var(--space-space-twounits);
    padding-left: var(--space-space-unit);
    padding-right: var(--space-space-unit);
    padding-bottom: var(--space-space-twounits);
  }
}
