.streamers-list-container {
  width: 100%;
  height: auto;
  max-height: var(--size-size-maxwidth);
  display: flex;
  padding: var(--space-space-halfunit);
  position: relative;
  max-width: var(--size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--color-primary-500);
  overflow-x: hidden;
  overflow-y: auto;
}

